<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>857896438344-oje7d9jm4a8egiv902v0lpuogkqog06h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.857896438344-oje7d9jm4a8egiv902v0lpuogkqog06h</string>
	<key>API_KEY</key>
	<string>AIzaSyCVmbSiUrsz-3PBYHW7OQ4DaD25AuaTXcQ</string>
	<key>GCM_SENDER_ID</key>
	<string>857896438344</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nghlongsapplication.app</string>
	<key>PROJECT_ID</key>
	<string>jobfinder-t1ienx</string>
	<key>STORAGE_BUCKET</key>
	<string>jobfinder-t1ienx.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:857896438344:ios:2ceeea85df2eb83e81a67d</string>
</dict>
</plist>